*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url('../public/background-image.jpg');
}

h2{
    text-align: center;
}

.register-page{
    height: 90vh;
}

.nav{
    background-color: #563d7c;
    margin: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    text-decoration: none;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-right: 10px;
}

.mainPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    padding: 5px;
}